.git
.venv
**/node_modules
**/dist
**/__pycache__
**/*.pyc
**/*.sqlite3*
**/private_media
**/staticfiles
**/.env
**/.env.*
.development-backups
.npm-cache
book
giaodien.html
*.log

backup
deploy/secrets
